<form class="{{cssClass}} etmos-sheet etmos-item" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <input class="nome-item" name="name" type="text" value="{{item.name}}" placeholder="Nome da Origem" />
  </header>
  <div class="sheet-body">
    <label>Categoria
      <select name="system.categoria">
        <option value="Mundana" {{#if (eq system.categoria "Mundana")}}selected{{/if}}>Mundana</option>
        <option value="Fantástica" {{#if (eq system.categoria "Fantástica")}}selected{{/if}}>Fantástica</option>
      </select>
    </label>
    <label class="checkbox">Exclusiva
      <input type="checkbox" name="system.exclusiva" {{#if system.exclusiva}}checked{{/if}} />
    </label>
    <label>Descrição</label>
    {{editor content=system.description target="system.description" button=true engine="prosemirror" owner=owner}}
  </div>
</form>
