<div class="atributos-grid">
  <div class="atributo-box">
    <label>Corpo</label>
    <input type="number" name="system.attributes.corpo.value" value="{{system.attributes.corpo.value}}" min="0" max="6" />
    <button type="button" data-action="rollAttribute" data-attribute="corpo" data-label="Teste de Corpo">2d6 + Corpo</button>
  </div>
  <div class="atributo-box">
    <label>Mente</label>
    <input type="number" name="system.attributes.mente.value" value="{{system.attributes.mente.value}}" min="0" max="6" />
    <button type="button" data-action="rollAttribute" data-attribute="mente" data-label="Teste de Mente">2d6 + Mente</button>
  </div>
  <div class="atributo-box">
    <label>Alma</label>
    <input type="number" name="system.attributes.alma.value" value="{{system.attributes.alma.value}}" min="0" max="6" />
    <button type="button" data-action="rollAttribute" data-attribute="alma" data-label="Teste de Alma">2d6 + Alma</button>
  </div>
</div>
